# Ignore node_modules (downloaded dependencies)
node_modules/

# Ignore build output
dist/

# Ignore generated proto files
debug/
src/proto/

# Ignore TypeScript build cache
*.tsbuildinfo

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment files
.env 